<%- include(`./partials/header.ejs`) %>

    <h1>Welcome to MyCart!!!</h1>

    <div id="homeDiv">
        Please sign-in, register, or
        <button onclick="location.href=`/cart`" id="homeBtn">continue to cart</button>
        .
    </div>

<%- include(`./partials/footer.ejs`) %>