<%- include(`./partials/header.ejs`) %>

    <h1>Welcome to MyCart!!!</h1>

    Please sign-in, register, or
    <button onclick="location.href=`/cart`">continue to cart</button>
    .

<%- include(`./partials/footer.ejs`) %>