<%- include(`./partials/header.ejs`) %>

    <h1>Welcome to MyCart!!!</h1>

    <button onclick="location.href=`/users/register`">Register</button>
    <button onclick="location.href=`/users/signin`">Sign In</button>
    <button onclick="location.href=`/cart`">Continue without signing in</button>

<%- include(`./partials/footer.ejs`) %>