<%- include(`./partials/header.ejs`) %>

    <h1>MyCart</h1>

    <button onclick="location.href=`/users/register`">Register</button>
    <button onclick="location.href=`/users/signin`">Sign In</button>

<%- include(`./partials/footer.ejs`) %>