body {
    background-color: lavender;
}

.editButton {
    border: none;
    background-color: transparent;
}

.green {
    color: lightgreen;
}

.red{
    color: red;
}

.outOfStock {
    color: red;
}

.obtained {
    color: aqua;
}